
label {
  font-size: 20px;
  cursor: text;
}

a {
  cursor: pointer;
}

.playlist-table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 40%;
    max-width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
    width: 50%;
}

thead {
  border-bottom: 1px solid #000;
}

tbody>tr:nth-child(odd) {
    background-color: #f2f2f2
}

.btn {
  margin-bottom: 10px;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .9;
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .name {
  font-weight:bold;
}

.name {
  float: left;
  margin-right: 5px;
}

.tag {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  padding: 4px 7px;
  color: #fff;
  text-decoration: none;
  -webkit-appearance: none !important;
  background: #919191;
  font-size: 10px !important;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  font-weight: normal;
  letter-spacing: 1px;
}

.error {
  text-align: center;
  color: #F03C3C;
  font-size: 30px;
}

input.download{
  text-align: right;
}

span.download {
  margin-right: 5px;
}

#visualization {
  width: 800px;
}

#loader {
  display: none;
  position: relative;
  left: 50%;
  top: 100%;
  z-index: 1;
  margin: 0 0 0 0;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
